.btn-secondary  {
  background-color: $brand-secondary;
}

.btn-terterary {
  background-color: $brand-tertiary;
}

.btn-secondary--inverse {
    border-color: $brand-secondary;
}

.btn-secondary--inverse:hover {
    background-color: $brand-secondary;
    color: white;
}

.btn-white {
    background-color: transparent;
    border-color: white;
}


.btn-grey {
    background-color: transparent;
    border-color: $grey;
}