.txt-secondary {
  color: $brand-secondary;
}
.txt-secondary {
  color: $brand-secondary;
}
@include small {
  .xs-gutter {
      margin-left: 15px;
  margin-right: 15px;
  }
}

.bg-primary {
    background-color: $brand-primary;
    color: white;
}

.bg-primary * {
    color: white;
}

.bg-secondary {
    background-color: $brand-secondary;
    color: white;
}

.bg-secondary * {
    color: white;
}
