// Grey
$light-grey: lightgrey;
$grey: grey;
$dark-grey: #32363A;
$red: #e53339;

// Social
$facebookBlue: #3b5998;
$twitterBlue: #4099ff;
$meetupRed: #E2373C;

// Branding
$primary: #D71772;
$secondary: #745196;
$tertiary: #1F4198;

// padding: 

