.jumbotron {
    position: relative;
    text-align: center;
    background-color: rgba(0,0,0,.3);
    color: white;
}

.jumbotron:after {
    content: ' ';
    position: absolute;
    background-color: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.jumbotron-image--container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}


.jumbotron-image--container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.jumbotron-content--container {
    position: relative;
    z-index: 101;
}
.jumbotron-content--container * {
    color: white;
}