.jumbotron {
    position: relative;
    text-align: center;
    background-color: rgba(0,0,0,.3);
    color: white;
    min-height:400px;
}

.jumbotron:after {
    content: ' ';
    position: absolute;
    background-color: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.jumbotron-image--container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}


.jumbotron-image--container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.jumbotron-content--container {

    z-index: 101;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.jumbotron-content--container * {
    color: white;
}

@include small {
  .jumbotron-content--container {
        width: 100%;
    padding: 0 15px;
  }
}
