.is-block {
    display: block;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.content-card--list .panel-body {
  padding: 30px;
  .btn {
    margin: 20px 0;
  }
  hr {
    opacity: .4;
    margin: 30px 0;
  }
  .panel-list {
    text-align: left;
  }
}
.content-card--list .row {
    display:flex;
    align-items: stretch;
}

.content-card--list .row > * {
    display: flex;
}

.panel-primary {
    width: 100%;
}

.panel-grey {
    border-color: $grey;
    width: 100%;
    h2 {
      color: $brand-secondary;
    }
    .btn {
      background-color: $brand-tertiary;
      color: white;
    }
}

.panel-body > * {
    margin-top: 0;
}

.panel-body .btn {
    margin-bottom: 18px;
}
.panel-primary.bg-secondary {
    border-color: $brand-secondary;
}
.panel-primary > .panel-heading{
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}

@include small {
  .content-card--list .row {
    display:block;
    align-items: stretch;
}

.content-card--list .row > * {
    display: block;
}

}


.fa-heart-o {
    animation: 1.5s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
