

<div class="event-card--list container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">April 23</h3>
            </div>
            <div class="panel-body">
                <h3>Amazing Event Name Goes Here</h3>
                <h4>Saturday, April 22, 2017</h4>
                <ul class="is-block">
                    <li>
                        <a href="#">10:00 a.m.</a>
                    </li>
                    <li>
                        <a href="#">11:00 a.m.</a>
                    </li>
                    <li>
                        <a href="#">2:00 p.m.</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-secondary--inverse is-block">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">April 23</h3>
        </div>
        <div class="panel-body">
            <h3>Amazing Event Name Goes Here</h3>
            <h4>Saturday, April 22, 2017</h4>
            <ul class="is-block">
                <li>
                    <a href="#">10:00 a.m.</a>
                </li>
                <li>
                    <a href="#">11:00 a.m.</a>
                </li>
                <li>
                    <a href="#">2:00 p.m.</a>
                </li>
            </ul>
            <a href="#" class="btn btn-secondary--inverse is-block">Learn More</a>

        </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">April 23</h3>
        </div>
        <div class="panel-body">
            <h3>Amazing Event Name Goes Here</h3>
            <h4>Saturday, April 22, 2017</h4>
            <ul class="is-block">
                <li>
                    <a href="#">10:00 a.m.</a>
                </li>
                <li>
                    <a href="#">11:00 a.m.</a>
                </li>
                <li>
                    <a href="#">2:00 p.m.</a>
                </li>
            </ul>
            <a href="#" class="btn btn-secondary--inverse is-block">Learn More</a>

        </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">April 23</h3>
            </div>
            <div class="panel-body">
              <h3>Amazing Event Name Goes Here</h3>
              <h4>Saturday, April 22, 2017</h4>
              <ul class="is-block">
                    <li>
                        <a href="#">10:00 a.m.</a>
                    </li>
                    <li>
                        <a href="#">11:00 a.m.</a>
                    </li>
                    <li>
                        <a href="#">2:00 p.m.</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-secondary--inverse is-block">Learn More</a>

            </div>
        </div>
    </div>

</div>

</div>