.is-block {
    display: block;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.event-card--list .row {
    display:flex;
    align-items: stretch;
}

.event-card--list .row > * {
    display: flex;
}

.event-card--list .panel-primary {
    border-color: $brand-secondary;
}

.event-card--list .panel-body > * {
    margin-top: 0;
}

.event-card--list .panel-primary > .panel-heading{
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}

@include medium {
  .event-card--list .row {
    display:block;
    align-items: stretch;
}

.event-card--list > * {
    display: block;
}

}
