/*
 *  External library overrides
 *
 */

@import "overrides/bootstrap/bootstrap";
@import "slick.scss";
@import "overrides/slick-carousel/slick-theme";

/*
 *  Variables and mixins
 *
 */

@import "partials/variables";
@import "partials/mixins";

/*
 *  Layout
 *
 */

// @import "partials/global";
// @import "partials/site";
// @import "partials/header";
// @import "partials/footer";
@import "partials/ie";

/*
 *  Elements
 *
 */

@import "partials/fonts";

/*
 *  Fonts
 *
 */
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff')
        url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Light';
  src:  url('../fonts/hind/Hind-Light.woff') format('woff2'),
        url('../fonts/hind/Hind-Light.woff') format('woff')
        url("../fonts/hind/Hind-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Medium';
  src:  url('../fonts/hind/Hind-Medium.woff') format('woff2'),
        url('../fonts/hind/Hind-Medium.woff') format('woff')
        url("../fonts/hind/Hind-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Regular';
  src:  url('../fonts/hind/Hind-Regular.woff') format('woff2'),
        url('../fonts/hind/Hind-Regular.woff') format('woff')
        url("../fonts/hind/Hind-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'SemiBold';
  src:  url('../fonts/hind/Hind-SemiBold.woff') format('woff2'),
        url('../fonts/hind/Hind-SemiBold.woff') format('woff')
        url("../fonts/hind/Hind-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Bold';
  src:  url('../fonts/hind/Hind-Bold.woff') format('woff2'),
        url('../fonts/hind/Hind-Bold.woff') format('woff')
        url("../fonts/hind/Hind-Bold.ttf") format("truetype");
}

/*
 *  Components
 *
 */
@import "../components/media/_media.scss"
