{% extends 'layouts/default.html' %}
{% block content %}

{% include "../components/section-title/left/section-title.html" %}

<div class="container">
  <div class="row">
    <div class="col-sm-9">

    </div>
    <div class="col-sm-3">
                <div class="panel panel-primary text-center bg-primary">
                <div class="panel-body">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <h2>Volunteer</h2>
                    <p>This is the latest volunteer event. Come and join blah blah blah blah</p>
                    <p>This is the latest volunteer event. Come and join blah blah blah blah</p>

                    <p>This is the latest volunteer event. Come and join blah blah blah blahThis is the latest volunteer event. Come and join blah blah blah blahThis is the latest volunteer event. Come and join blah blah blah blah</p>


                    </ul>
                    <a href="#" class="btn btn-white is-block">Join Event</a>

                </div>
            </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}{% endblock %}
