{% extends 'layouts/default.html' %}
{# include "../components/example/example.html" #}

{% block content %}
<div class="container events-page">
  <h1 class="page-title">This is the page title</h1>
  <div class="row">
      <div class="col-xs-12 col-md-8">
          <div class="row article-container">
    <article class="article-preview">
        <div class="article-preview--image col-xs-12 col-md-5">
            <a href="">
                <img src="../images/two-caucasian-women.jpg" alt="alt text goes here"/>
            </a>
            
        </div>
        <div class="article-preview--content col-xs-12 col-md-7">
            <h1><a href="#">This is a headline</a></h1>
            <h3> Saturday, April 22, 2017</h3>
            <a href="#">3000 E 26t Street, Minneapolis MN 55406</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </article>
</div>
      </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary text-center bg-primary">
                <div class="panel-body">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <h2>Volunteer</h2>
                    <p>This is the latest volunteer event. Come and join blah blah blah blah</p>
                    <p>This is the latest volunteer event. Come and join blah blah blah blah</p>

                    <p>This is the latest volunteer event. Come and join blah blah blah blahThis is the latest volunteer event. Come and join blah blah blah blahThis is the latest volunteer event. Come and join blah blah blah blah</p>


                    </ul>
                    <a href="#" class="btn btn-white is-block">Volunteer Now</a>

                </div>
            </div>
  </div>
  </div>

</div>
{% endblock %}
{% block javascript %}{% endblock %}
