{% extends 'layouts/default.html' %}
{# include "../components/example/example.html" #}

{% block content %}
  
{% include "../components/hero-image/hero-image.html" %}

<div>
  {% include "../components/cards/content-card/content-card.html" %}
</div>
<div class="container article-list">

      {% include "../components/article-preview/article-preview.html" %}

      {% include "../components/article-preview/article-preview.html" %}

      {% include "../components/article-preview/article-preview.html" %}

</div>
<div>
  {% include "../components/cards/event-card/event-card.html" %}
</div>
{% endblock %}
{% block javascript %}{% endblock %}
