{% extends 'layouts/default.html' %}
{# include "../components/example/example.html" #}

{% block content %}
<div class="news-article container">
  <div class="col-xs-12 col-md-9">
    <div class="article-preview--image">
          <img src="../images/two-caucasian-women.jpg" alt="alt text goes here"/>
    </div>
    <h1>News Article Header</h1>
    <h2>News Article Sub Headline</h2>
    <h3> Author: <a href="#">Mathias Rechtzigel,</a> <span class="time">Published: November 23, 2017</span></h3>
    <hr>
    <div class="rich-text-editor">
      <h1>Rich Text - Heading 1</h1>
      <h2>Rich Text - Heading 2</h2>
      <h3>Rich Text - Heading 3</h3>
      <h4>Rich Text - Heading 4</h4>
      <h5>Rich Text - Heading 5</h5>
      <p>Rich Text Description</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-primary text-center bg-primary">
                <div class="panel-body">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <h2>Volunteer</h2>
                    <p>This is the latest volunteer event. Come and join blah blah blah blah</p>
                    <p>This is the latest volunteer event. Come and join blah blah blah blah</p>
                    
                    <p>This is the latest volunteer event. Come and join blah blah blah blahThis is the latest volunteer event. Come and join blah blah blah blahThis is the latest volunteer event. Come and join blah blah blah blah</p>
                    
                    
                    </ul>
                    <a href="#" class="btn btn-white is-block">Join Event</a>
                    
                </div>
            </div>
  </div>
</div>
{% endblock %}
{% block javascript %}{% endblock %}
