.is-block {
    display: block;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.people-card--list {
  .panel-head-shot {
    width: 100%;
    margin-bottom: 30px;
    max-width: 280px;
  }
  .btn {
    margin-top: 15px;
  }
  [href*="mailto"] {
    color: $brand-accent;
    word-wrap: break-word;
  }
  .panel-body {
  padding: 0;
}
}


.panel-primary {
    border-color: $brand-secondary;
}


.panel-body > * {
    margin-top: 0;
}

.panel-primary > .panel-heading{
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}

@include small {
  .people-card--list .row > * {
    display: block;
}
}
