

<div class="people-card--list container">
    <div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <img class="panel-head-shot" src="../../../images/timid.png" alt=""/>
                <h2>Timid Robot Zehta</h2>
                <div class="text-center">
                  <p>BOP Co-Chair</p>
                <p>Pro Name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum massa. Aliquam vitae iaculis ante, ac lacinia elit. Curabitur faucibus nisi vel risus euismod, et bibendum nisl. Morbi aliquet diam mollis sodales vehicula.</p>
                <a href="mailto:timid@bisexualorganizingproject.org">timid@bisexualorganizingproject.org</a>
                </div>


                <a href="#" class="btn btn-tertiary--inverse is-block">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <img class="panel-head-shot" src="../../../images/timid.png" alt=""/>
                <h2>Timid Robot Zehta</h2>
                <div class="text-center">
                  <p>BOP Co-Chair</p>
                <p>Pro Name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum massa. Aliquam vitae iaculis ante, ac lacinia elit. Curabitur faucibus nisi vel risus euismod, et bibendum nisl. Morbi aliquet diam mollis sodales vehicula.</p>
                <a href="mailto:timid@bisexualorganizingproject.org">timid@bisexualorganizingproject.org</a>
                </div>


                <a href="#" class="btn btn-tertiary--inverse is-block">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <img class="panel-head-shot" src="../../../images/timid.png" alt=""/>
                <h2>Timid Robot Zehta</h2>
                <div class="text-center">
                  <p>BOP Co-Chair</p>
                <p>Pro Name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum massa. Aliquam vitae iaculis ante, ac lacinia elit. Curabitur faucibus nisi vel risus euismod, et bibendum nisl. Morbi aliquet diam mollis sodales vehicula.</p>
                <a href="mailto:timid@bisexualorganizingproject.org">timid@bisexualorganizingproject.org</a>
                </div>


                <a href="#" class="btn btn-tertiary--inverse is-block">Learn More</a>
            </div>
        </div>
    </div>
</div>

</div>
