
.article-list .article-container:nth-child(odd) .article-preview--image {
    float: right;

}

.article-list .article-container:nth-child(odd) .article-preview--content {
    float: left;
}

.article-container {
    display: block;
    clear: both;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 18px;
    margin-bottom: 18px;
}
.article-preview {
    min-height: 350px;
}
.article-preview--image {
    display: block;
}
.article-preview--image img {
    width: 100%;
    object-fit: cover;
    height: 350px;
}

.article-preview--image a {
    display: block;
    height: 300px;
}

.article-preview .article-preview-content > * {
    margin-top: 0;
}

.article-preview .is-inline {
    padding: 0;
    margin: 18px 0;
}

// News Article 
.news-article .article-preview--image img{
    max-height: 400px;
    object-fit: cover;
}

//Inline Divides
//------------------------
    .is-inline {

    }
    
    .is-inline > * {
        display: inline-block;
        position: relative;
    }
    
    .is-inline > * > * {
        color: currentColor;
    }
    
    .is-inline > * + * {
        margin-left: 24px;
    }
    
    .is-inline > * + *:before {
        content: "";
        height: 14px;
        width: 2px;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        left: -12px;
        background-color: currentColor;
    }
    
    .no-divide:before {
        width: 0;
    }
    
   @include small {
        .is-inline > * {
            display: block;
        }
        .is-inline > * + * {
            margin-left: 0;
        }
        .is-inline > * + *:before {
            margin: 0;
            width: 0;
            position: relative;
        }
    }