<div class="row article-container">
    <article class="article-preview">
        <div class="article-preview--image col-xs-12 col-md-6">
            <a href="">
                <img src="../images/two-caucasian-women.jpg" alt="alt text goes here"/>
            </a>
            <ul class="is-inline">
                <li>
                    Tags:
                </li>
                <li>
                    <a href="#">tag 1</a>
                </li>
                <li>
                    <a href="#">tag 2</a>
                </li>
                <li>
                    <a href="#">tag 3</a>
                </li>
            </ul>
        </div>
        <div class="article-preview--content col-xs-12 col-md-6">
            <h1><a href="#">This is a headline</a></h1>
            <h3> Author: <a href="#">Mathias Rechtzigel</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </article>
</div>