footer {
  background-color: $gray-lighter;
  padding: 1em 0;
}

.footer-logo {
    max-width: 110px;
}

.footer-copy {
      margin-top: 35px;
}

@include small {
  .footer-logo {
    display: block;
    margin: 0 auto;
  }
}
