<div class="sub-footer">
    <ul>
        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-meetup" aria-hidden="true"></i></a></li>
    </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <img class="footer-logo" src="../../images/BOP_Logo.png" alt="Branding Logo">
    </div>
    <div class="col-sm-10 vertical-center-text">
      <p class="footer-copy">Copyright info lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum massa. Aliquam vitae iaculis
        ante, ac lacinia elit. Curabitur faucibus nisi vel risus euismod, et bibendum nisl vestibulum.</p>
    </div>
  </div>
</div>
